* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #2a2d2f;
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
  color: rgba(232, 230, 227, 0.7);
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}
